.title-walle{
	font-size: 16px;
}
.title-walle__h1{
	font-size: 4em;
	font-family: 'Press Start 2P', cursive;
	font-weight: 600;
	background-color: black;
	color: white;
	padding: 1em;
	text-align: center;
	margin: 30px 75px;
	transition: background 1s;
}
.title-walle__h1:hover{
	background-color: lightblue;
}
.title-grup{
	font-size:16xp;
}
.title-grup__1{
	font-size: 3em;
	text-align: center;
	margin: 2em;
}
.title-grup__2{
	font-size: 1em;
	text-align: center;

}
.title-grup__3{
	font-size: 2em;
   text-align: center;
	margin: 20px;
}
.icon-prof{
	position: relative;
	left: 550px;
	bottom: 55px;
	object-fit: cover;

}
.title-inf{
	font-size: 16xp;
}
.title-inf__1{
	font-size: 2em;
	text-align: center;
	margin: 15px;
}
.table{
	font-size: 16px;
}
.table__1{
font-size: 25px;
text-align: center;
margin: 10px;

}


}
.menu-op{
	font-size: 15px;
}
.menu-op__1{
	display: inline-block;
	margin: 1em 50px;
}
.menu-op__2{
	display: inline-block;
	margin: 1em 50px;
}
.menu-op__3{
	display: inline-block;
	margin: 1em 50px;
}